{% extends 'front/base.html.twig' %}

{% block title %}Bienvenu sur SteamIsh thingy{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="jumbotron jumbotron-fluid bg-dark-subtle">
        <div class="container">
            <div class="row p-5">
                <h1 class="display-1">STEAMISH</h1>
                <p class="lead">Le seul endroit où venir acheter vos jeux</p>
            </div>
        </div>
    </div>

    <div class="container pb-4">
        {# Cards #}
        {% include 'front/partials/gameCardsSection.html.twig' with {'games': gamesNewest, 'title': 'Les Tendances'} %}

        {% include 'front/partials/gameCardsSection.html.twig' with {'games': gamesPriceDesc, 'title': 'Meilleures Sorties'} %}
    </div>
    <div class="jumbotron jumbotron-fluid p-4 bg-dark-subtle">
        <div class="container-fluid">
            <div class="col-12 mb-5 mt-4">
                <h2>Ils nous font confiance</h2>
            </div>
            <div class="row d-flex flex-row flex-nowrap overflow-auto pb-4">
                {% for reviewNewest in reviewsNewest %}
                    {# Cards #}
                    {% include 'front/partials/reviewCard.html.twig' with {'review': reviewNewest} %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container">

        {% include 'front/partials/gameCardsSection.html.twig' with {'games': gamesPriceDesc, 'title': 'Les Tops Jeux'} %}

        <div class="col-12 my-5">
            <h2>Categories</h2>
        </div>

        <div class="row row-gap-3">
            {% for category in categories %}
                {# Cards #}
                <div class="col-2">
                    <div class="card">
                        <div class="ratio ratio-1x1">
                            <img src="{{ category.image | default('https://picsum.photos/200') }}"
                                 class="card-img-top object-fit-cover" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ category.name }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
