
<div class="card-category">
    <img src="{{ category.image }}"
         alt="Image de {{ category.name }}"
    >
    <div class="d-flex justify-content-between">
        <p>{{ category.name }}</p>
    </div>
</div>
