
<div class="card-game">
    <img src="{{ game.thumbnailCover }}"
         alt="Image de {{ game.name }}"
    >
    <div class="d-flex justify-content-between">
        <p>{{ game.name }}</p>
        <span>{{ game.price }}€</span>
    </div>
</div>
