<section class="my-3">
    {% if title is defined %}
        <h2>{{ title }}</h2>
    {% endif %}
<div class="container">
    <div class="row">
        {% for game in games %}
            <div class="col-md-4 col-12">
                {% include 'partials/_game_card.html.twig' %}
            </div>
        {% endfor %}
    </div>
</div>
</section>
