{% extends 'front/base.html.twig' %}

{% block title %}
    Toute l'actu G4ming !
{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center">SteamIsh : l'actu G4ming !</h1>

        {% include 'front/partials/_game_loop.html.twig' with {
            'games': trends,
            'title': "Les tendances"
        } %}

        {% include 'front/partials/_game_loop.html.twig' with {
            'games': bests,
            'title': "Les meilleures sorties"
        } %}

        {% include 'front/partials/_comment_loop.html.twig' with {
            'comment': reviews,
            'title': "Ils nous font confiance"
        } %}

        {% include 'front/partials/_game_loop.html.twig' with {
            'games': tops,
            'title': "Les tops jeux"
        } %}

        {% include 'front/partials/_category_loop.html.twig' with {
            'categories': categories,
            'title': "Categories"
        } %}
    </div>

{% endblock %}
