{% extends 'front/base.html.twig' %}

{% trans_default_domain 'home' %}

{% block body %}

    <div class="container mt-5">
        <h1 class="text-center">{{ 'title.main'|trans }}</h1>

        {% include 'front/partials/_game_loop.html.twig' with {
            'games': trends,
            'title': 'title.trends'|trans
        } %}

        {% include 'front/partials/_game_loop.html.twig' with {
            'games': bests,
            'title': 'title.bests'|trans
        } %}
    </div>

    <section>
        <div class="d-md-flex justify-content-evenly">
            {% for review in reviews %}
                <div class="col-md-2 col-12 p-md-0 p-4">
                    {% include 'front/partials/_review_card.html.twig' with {
                        'hasGameLink': true
                    } %}
                </div>
            {% endfor %}
        </div>
    </section>

    <div class="container">
        {% include 'front/partials/_game_loop.html.twig' with {
            'games': tops,
            'title': 'title.tops'|trans
        } %}

        <section>
            <h2>Catégories</h2>
            <div class="row">
                {% for category in categories %}
                    <div class="col-md-4 col-12 p-3">
                        {% include 'front/partials/_category_card.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </section>

    </div>
{% endblock %}
