{% extends 'front/base.html.twig' %}

{% block title %}
    Toute l'actu G4ming !
{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center">SteamIsh : l'actu G4ming !</h1>

        {% include 'front/partials/_game_loop.html.twig' with {
            'games': trends,
            'title': "Les tendances"
        } %}

        {% include 'front/partials/_game_loop.html.twig' with {
            'games': bests,
            'title': "Les meilleures sorties"
        } %}

    </div>

    {% for review in reviews %}

    {% endfor %}

{% endblock %}
