{% extends './front/base.html.twig' %}


{% block body %}

	<div class="back-img-show" style="--hero-image: url('{{ game.thumbnailCover }}');"></div>
	<div class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center flex-column align-items-center ">

		<div class="d-flex mt-5 justify-content-center align-items-center flex-row h-100 w-100">

			<div class="card h-75 border-rounded m-4 ratio ratio-16x9 w-50">
				<div style="background-image: url('{{ game.thumbnailCover }}'); background-size: cover; background-position: center;"></div>
			</div>
			<div class="card w-50 h-75 border-rounded m-4" style="backdrop-filter: blur(20px); background-color: rgba(0, 0, 0, 0.5);">


				<div class="card-body d-flex flex-column justify-content-center align-items-center h-100">
					<h1 class="card-title text-white text-center">{{game.name}}</h1>
					<p class="card-text text-white text-center">{{game.price}}€</p>
				</div>


			</div>
		</div>
		<div class="container">

			<div class="d-flex justify-content-center align-items-center flex-wrap h-100 w-100" style="backdrop-filter: blur(20px); background-color: rgba(0, 0, 0, 0.5);">

				<h2 class="text-center mb-4">Categories :</h2>
			</div>
		</div>
	</div>

{% endblock %}
