{% extends 'front/base.html.twig' %}

{% block body %}
<div class ="container">
    <div class="row">
        <div class ="col-12">
            {% if category.image %}
        </div>
    </div>
</div>
{% endblock %}

