{% extends 'front/base.html.twig' %}

{% block title %}{{ 'publisher.title.tab' | trans({'%publisher%': publisher.name}) }}{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid bg-dark-subtle">
        <div class="container">
            <div class="row p-5">
                <h1 class="display-1">{{ publisher.name }}</h1>
                <p class="lead">{{ 'publisher.title.subtitle' | trans({'%publisher%': publisher.name}) }}</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row pt-5">
            {% include 'front/partials/gameCardsSection.html.twig' with {'games': gamesPublisher} %}
        </div>
    </div>
{% endblock %}
