<form class="input-group" action="{{ path('app_game_search') }}" method="get">
	<input type="text" class="form-control" placeholder="Search for a game..." aria-label="Search for a game..." aria-describedby="button-search">
	<button class="btn btn-outline-secondary" type="button" id="button-search">Search</button>
</form>
