{# filepath: /home/brice/code/2026-poei-symfony/templates/admin/category/index.html.twig #}
{% extends './admin/base.html.twig' %}

{% block body %}
	<div class="container mt-5">
		<div class="d-flex justify-content-between align-items-center">
			<h1>Categories</h1>
			<a href="{{path('admin_category_add')}}" class="btn btn-success mb-3">
				<i class="fas fa-plus"></i>
			</a>
		</div>


		<div class="row">
			<div class="col-12">
				<table class="table table-hover table-striped table-dark">
					<thead>
						<tr>
							<th scope="col">Category Name</th>
							<th scope="col">Image</th>
							<th scope="col">Slug</th>
							<th scope="col">Number of Games</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for category in categories %}
							<tr>
								<td>{{ category.name }}</td>
								<td>
									{% if category.image %}
										yes
									{% else %}
										no
									{% endif %}
								</td>
								<td>{{ category.slug }}</td>
								<td>{{ category.games|length }}</td>
								<td>
									{% include './admin/component/actionButton.html.twig' with {'name': 'category'} %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
