<div class="col-4 g-5 ">
	<div class="ratio ratio-16x9 border-dark bg-imgimg rounded d-flex justify-content-center align-items-center flex-wrap" style="background-image: url('{{ categoryUrl|default('./assets/images/default-category.png') }}');">


		<a href="{{ path('app_category_show', {'name': category.name}) }}" style="text-decoration: none; color: inherit;">


			<h5 class="name">{{category.name|upper}}</h5>
			<div style="background-image: url('{{ category.image|default('./assets/images/default-category.png') }}');" class="cover h-100 z-3 object-fit-cover"></div>

		</a>

	</div>
</div>
