<div class="col-2 mb-4">

	<div class="card text-bg-dark">

		<img src="{{ category.image|default('./assets/images/default-category.png') }}" class="card-img" alt="{{ category.name }}">

		<div class="card-img-overlay d-block d-md-flex justify-content-center align-items-center">
			<h5 class="card-title  ">{{category.name}}</h5>

		</div>
	</div>
</div>
