{% extends 'front/base.html.twig' %}

{% block title %}
    Game page
{% endblock %}

{% block body %}


    <section class="row">
        <div>
            <img src="{{ games.thumbnailCover }}" alt="game image" class="w-25">
        </div>
        <div>
            <h2>{{ games.name }}</h2>
            <p>{{ games.description }}</p>
        </div>
    </section>

{% endblock %}
