<footer>

    <div class="d-flex justify-content-around">
        <div>
            <p>Nos meilleures catégoies</p>
            <ul class="list-unstyled">
                {% for categ in best_categories() %}
                    <li>{{ categ.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

</footer>
