<footer>

    <p>Nos meilleures catégoies</p>
    <ul class="list-unstyled">
        {% set footerCategories = best_categories() %}
        {% for categ in footerCategories %}
            <li>{{ categ.name }}</li>
        {% endfor %}
    </ul>

    <p>Nos jeux les plsu commentés</p>
    <ul class="list-unstyled">
        {% set footerGamesCommented = most_commented_game() %}
        {% for gamesCommented in footerGamesCommented %}
            <li>{{ gamesCommented.name }}</li>
        {% endfor %}
    </ul>

</footer>
