<a href="{{ path('admin_' ~ name ~ '_edit', { id: 'name ~.id' }) }}">

	<i class="fas fa-edit"></i>
</a>
<a href="{{ path('admin_' ~ name ~ '_delete', { id: 'name ~.id' }) }}" class="text-danger">
	<i class="fas fa-trash-alt"></i>
</a>
<a href="{{path('admin_' ~ name ~ '_show', { id: 'name ~.id' })}}" class="text-info">
	<i class="fas fa-eye"></i>
</a>
