{# this will the side bar of the dashboard in an admin section  #}
<ul class="list-group">
	<a href="{{path("app_home") }}">
		<li class="list-group-item">Home</li>
	</a>
	<a href="{{path("admin_dashboard") }}">
		<li class="list-group-item">
			Index
		</li>
	</a>
	<a href="{{ path("admin_category_index") }}">
		<li class="list-group-item selected">categories</li>
	</a>

	<li class="list-group-item">games</li>
	<li class="list-group-item">reviews</li>
	<li class="list-group-item">countries</li>
</ul>
