{% extends 'front/base.html.twig' %}

{% block title %}
    {{ 'register.title'|trans }}
{% endblock %}

{% block body %}

    <div class="container mt-5">
        <section class="col-md-6 col-12 mx-auto">
            {% include 'common/_form_.html.twig' %}
        </section>
    </div>

{% endblock %}
