
{% trans_default_domain 'admin' %}

<section class="d-flex flex-column mx-auto">
    <a class="navbar-brand mx-auto" href="{{ path("app_home") }}">
        <i class="fa-brands fa-steam fa-3x steamish-link"></i>
    </a>

    <hr>

    <div class="ps-4">
        {% include 'admin/partials/_menu_link.html.twig' with {
            'pathName': 'admin_home',
            'label':  'menu.dashboard'|trans
        } %}
    </div>

    <hr>

    <div class="ps-4">
        <p class="p-0 m-0">{{ 'menu.category.title'|trans }}</p>
        <ul class="list-unstyled ps-2">
            <li>
                {% include 'admin/partials/_menu_link.html.twig' with {
                    'pathName': 'admin_category_index',
                    'label':  'menu.category.index'|trans
                } %}
            </li>
            <li>
                {% include 'admin/partials/_menu_link.html.twig' with {
                    'pathName': 'admin_category_new',
                    'label':  'menu.category.new'|trans
                } %}
            </li>
        </ul>
    </div>
</section>
